body {
    min-height: 100vh;
    background-color: lightgray;
    flex-direction: column;
    
}



body, .etch-container, .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.etch-container {
  flex: 0;
  flex-direction: column;
  gap: 2px;

}

.gridRow {
    display: flex;
        gap: 2px;


}

.grid-element {
    background-color: gray;
    width: 13px;
    height: 13px;
}

.coloredIn {
    background-color: black;
        width: 13px;
        height: 13px;
}

button {
    font-size: larger;
}

.button-container {
    gap: 15px;
}